﻿/* http://jsfiddle.net/2touox81/ */
/* http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#row */
.flexcontainer {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}
/* choose the order of adjustament of the element */
.flexcontainer.left {order:1; flex-basis:100%; height:300px}
.flexcontainer.middle {order:2; flex-basis:100%; height:300px;}
.flexcontainer.right {order:3; flex-basis:100%; height:300px;}

@media screen and (min-width:600px) {
   .flexcontainer {
       flex-wrap:nowrap;
   } 
   
    .flexcontainer.left {
        flex-basis:1;
        order:1;
    }
    .flexcontainer.middle {
        flex-basis:1;
        order:2;
    }
    .flexcontainer.right {
        flex-basis:1;
        order:3;
    }
}

.flexcontainer {
    background-color: #dce7f2;
    border: 1px solid #2a4f73;
    display: flex;
    flex-direction: row;
    max-height: 450px;
    min-height: 300px;
}
.flexcontainer > div {
    background-color: #e46119;
    border: 1px solid #626262;
    height: 100px;
    margin: 3px;
    width: 100px;
}
.flexcontainer.column {
    flex-direction: column;
}
.flexcontainer.column.top {
    align-items: flex-start;
    height: 500px;
    max-height: 500px;
}
.flexcontainer.row.top {
    align-items: flex-start;
}
.flexcontainer.row.left {
    justify-content: flex-start;
}
.flexcontainer.column.left {
    align-items: flex-start;
}
.flexcontainer.row.right {
    justify-content: flex-end;
}
.flexcontainer.column.right {
    align-items: flex-end;
}
.flexcontainer.row.center, .flexcontainer.column.center {
    align-items: center;
    justify-content: center;
}
.flexcontainer.growshrink {
    align-items: center;
}
.flexcontainer.growshrink .bigitem {
    flex: 2 0 0px;
}
.flexcontainer.growshrink .smallitem {
    flex: 1 0 0px;
}
/*Wrap flex items into multiple rows*/
.flexcontainer.wrap.row {
    align-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}
/*Wrap flex items into multiple columns */
.flexcontainer.wrap.column {
    align-content: stretch;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
}
.flexcontainer.wrap.column.nospace {
    align-content: center;
    align-items: center;
    justify-content: center;
}
.flexcontainer.column.pin {
    align-items: center;
}
.flexcontainer.column.pin .left {
    align-self: flex-start;
}
.flexcontainer.column.pin .right {
    margin-left: auto;
}