﻿/* href: https://www.fourkitchens.com/blog/article/responsive-multi-column-lists-flexbox */
.flexlist {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}
.flexlist .item {
  flex: 1 0 200px;
  margin-left: 10px;
  margin-top: 10px;
}
@media (min-width: 420px) {
  .flexlist .item {
    max-width: calc(50% - 10px);
  }
}
@media (min-width: 630px) {
  .flexlist .item {
    max-width: calc(33.33333333% - 10px);
  }
}
@media (min-width: 840px) {
  .flexlist .item {
    max-width: calc(25% - 10px);
  }
}
@media (min-width: 1050px) {
  .flexlist .item {
    max-width: calc(20% - 10px);
  }
}
@media (min-width: 1000px) {
  .flexlist .item {
    min-width: calc(20% - 10px);
  }
}

.flexlist .item {
  background: #e0ddd5;
  color: #171e42;
  box-sizing: border-box;
  padding: 10px;
}
/* other */
.flexlist .item i {
  display:flex;
  align-items:center;
}
.flexlist .item span {
  flex: 1;
  margin-left: 20px;
}
