﻿/*To have the header row (rows if wrapped) stay pegged, so for large datasets you can scroll vertically and always have the headers visible.*/
/*.Table-row.header {
    height: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content:flex-start;
} 
.container-fluid .table-row .header{
    overflow-y: auto;
}*/
/*Make classic table html flexible http://codepen.io/csuwldcat/pen/JGabQV */
/*table.flexed {
    display: flex;
    flex-direction: column;
    border: none;
  }

table.flexed tr {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #bbb;
}

table.flexed td {
    flex: 0 0 0;
    border: none;
    padding: 0;
    margin: 0;
}

table.flexed td:first-child {
    text-align: center;
    flex: 0 0 1em;
}

table.flexed td div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 800px){
    table.flexed td:nth-child(2) {
    
    max-width: 200px;
    }
    table.flexed td:nth-child(3) {
    min-width: 200px;
    padding-left: 1em;
    page-break-after: always;
    break-after: always;
    }
}*/


/* href:http://inlehmansterms.net/2014/10/11/responsive-tables-with-flexbox/ */
.Table {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  border: 1px solid #f2f2f2;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;

  -webkit-flex-direction: column;    
  -moz-flex-direction: column; 
  -ms-flex-direction: column;  
  flex-direction: column;
}
.Table-header {
  display: none;
}
@media (min-width: 500px) {
  .Table-header {
    font-weight: 700;
    background-color: #f2f2f2;
  }
}
.Table-row {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  padding-left: 15px;
  padding-right: 15px;

}
.Table-row:nth-of-type(even) {
  background-color: #f2f2f2;
}
.Table-row:nth-of-type(odd) {
  background-color: #ffffff;
}
@media (min-width: 500px) {
  .Table-row {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  .Table-row:nth-of-type(even) {
    background-color: #ffffff;
  }
  .Table-row:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
}
.Table-row-item {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  flex-basis: 0;
  -ms-flex-preferred-size: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 0.5em;
  word-break: break-word;
}
.Table-row-item:before {
  content: attr(data-header);
  width: 30%;
  font-weight: 700;
}
@media (min-width: 500px) {
  .Table-row-item {
    border: 1px solid #fff;
    padding: 0.5em;
  }
  .Table-row-item:before {
    content: none;
  }
}

.u-Flex-grow1 {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
}

.u-Flex-grow2 {
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  flex-grow: 2;
  -ms-flex-positive: 2;
}

.u-Flex-grow3 {
  -webkit-flex-grow: 3;
  -moz-flex-grow: 3;
  flex-grow: 3;
  -ms-flex-positive: 3;
}

.u-Flex-grow4 {
  -webkit-flex-grow: 4;
  -moz-flex-grow: 4;
  flex-grow: 4;
  -ms-flex-positive: 4;
}

.u-Flex-grow5 {
  -webkit-flex-grow: 5;
  -moz-flex-grow: 5;
  flex-grow: 5;
  -ms-flex-positive: 5;
}

.u-Flex-grow6 {
  -webkit-flex-grow: 6;
  -moz-flex-grow: 6;
  flex-grow: 6;
  -ms-flex-positive: 6;
}

.u-Flex-grow7 {
  -webkit-flex-grow: 7;
  -moz-flex-grow: 7;
  flex-grow: 7;
  -ms-flex-positive: 7;
}

.u-Flex-grow8 {
  -webkit-flex-grow: 8;
  -moz-flex-grow: 8;
  flex-grow: 8;
  -ms-flex-positive: 8;
}

.u-Flex-grow9 {
  -webkit-flex-grow: 9;
  -moz-flex-grow: 9;
  flex-grow: 9;
  -ms-flex-positive: 9;
}

.u-Flex-grow10 {
  -webkit-flex-grow: 10;
  -moz-flex-grow: 10;
  flex-grow: 10;
  -ms-flex-positive: 10;
}

.u-Flex-grow11 {
  -webkit-flex-grow: 11;
  -moz-flex-grow: 11;
  flex-grow: 11;
  -ms-flex-positive: 11;
}

.u-Flex-grow12 {
  -webkit-flex-grow: 12;
  -moz-flex-grow: 12;
  flex-grow: 12;
  -ms-flex-positive: 12;
}